# ==================================
# APPLICATION
# ==================================
NODE_ENV=production
PORT=3000

# ==================================
# MONGODB (Atlas Cloud)
# ==================================
MONGO_STRING_CONNECTION=mongodb+srv://USER:PASS@cluster0.b0yyp.mongodb.net/
MONGO_DB_NAME=splitter

# ==================================
# SECURITY
# ==================================
HASH_SECRET={*bIEXXXXXXXXX
JWT_SECRET=S5rXXXXXXXXX

# ==================================
# EMAIL (RESEND)
# ==================================
RESEND_API_KEY=re_XXXXXXXXXXX

# ==================================
# GOOGLE AI
# ==================================
GOOGLE_AI_API_KEY=AIXXXXXXXXXXXXXX

# ==================================
# APNs (iOS Push Notifications)
# ==================================
APNS_KEY_PATH=./certs/AuthKey_TWXXXXXXX.p8
APNS_KEY_ID=TWXXXXXXX
APNS_TEAM_ID=M4XXXXXX
BUNDLE_ID=com.soadtech.splittier

# ==================================
# FIREBASE ADMIN (Si lo necesitas)
# ==================================
# FIREBASE_PROJECT_ID=your-project-id
# FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project.iam.gserviceaccount.com
# FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nKEY\n-----END PRIVATE KEY-----\n"

# ==================================
# FEATURES
# ==================================
AUTO_SETTLE_ENABLED=true
